[user]
    signingkey = {{ onepasswordRead "op://Private/Git Settings/public_key" }}

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
    gpgsign = true

[core]
	autocrlf = input
